/** 
 * @file: Fonts partials and other important partials
 */

%font-ms-300 {
  font-family: 'MS-300', Helvetica, Arial, sans-serif;
}

%font-ms-300-rnd {
  font-family: 'MS-300-rounded', Helvetica, Arial, sans-serif;
}

%icomoon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

%icon-mail {
  content: "\e900";
}
%icon-phone {
  content: "\e942"
}